#16.5 연습문제: 리스트의 요소에 10을 곱해서 출력하기

### 다음 소스 코드를 완성하여 리스트 x에 들어있는 각 숫자(요소)에 10을 곱한 값이 출력되게 만드세요.<br> 모든 숫자는 공백으로 구분하여 한 줄로 출력되어야 합니다.<br>

In [2]:
x = [49, -17, 25, 102, 8, 62, 21]

for i in x :
  print(i*10, end=' ')

490 -170 250 1020 80 620 210

#16.6 심사문제: 구구단 출력하기

###표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br> 출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.<br>

In [12]:
number = int(input())
for i in range(1, 10) :
  print(number,'*',i,'=', end='')
  print(number*i)

7
7 * 1 =7
7 * 2 =14
7 * 3 =21
7 * 4 =28
7 * 5 =35
7 * 6 =42
7 * 7 =49
7 * 8 =56
7 * 9 =63

In [18]:
number = int(input())
for i in range(1, 10) :
  print(number, '*', i, '=', sep=' ', end=' ')      # 이게 더 정확한 답인가..
  print(number*i)

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [20]:
number = int(input())
for i in range(1, 10) :
  print(number,'*',i,'=', number*i)        #한 줄로 합치면 되는데..

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

#17.5 연습문제: 변수 두 개를 다르게 반복하기

###다음 소스 코드를 완성하여 정수 2 5, 4 4, 8 3, 16 2, 32 1이 각 줄에 출력되게 만드세요.<br> while에 조건식은 두 개 지정하고, 두 변수를 모두 변화시켜야 합니다.<br>

In [3]:
i = 2
j = 5

while i < 32 or j !=0 :
  print(i, j)
  i *=2        
  j -=1

2 5
4 4
8 3
16 2
32 1

#17.6 심사문제: 교통카드 잔액 출력하기

###표준 입력으로 금액(정수)이 입력됩니다.<br> 1회당 요금은 1,350원이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br> 단, 최초 금액은 출력하지 않아야 합니다.<br> 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.<br>

In [22]:
price = int(input())

while price >=0 :
  print(price)             #이런 식으로는 최초 금액을 출력하지 못 하는 건가...
  price -= 1350

10000
10000
8650
7300
5950
4600
3250
1900
550

In [24]:
money = int(input())

while money >=1350 :
  money -= 1350           # 이 과정의 논리를 생각해야..
  print(money)

13500
12150
10800
9450
8100
6750
5400
4050
2700
1350
0

#18.5 연습문제: 3으로 끝나는 숫자만 출력하기

###다음 소스 코드를 완성하여 0과 73 사이의 숫자 중 3으로 끝나는 숫자만 출력되게 만드세요.<br>

In [25]:
i = 0
while True:
    if i % 10 != 3:      # 아예 생각을 못 했다.....
      i += 1
      continue         
    if i > 73:
      break
    print(i, end=' ')
    i += 1            # continue로 이것까지 건너뜀

3 13 23 33 43 53 63 73

# 18.6 심사문제: 두 수 사이의 숫자 중 3으로 끝나지 않는 숫자 출력하기

###표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~ 200, 두 번째 입력 값의 범위는 10~200이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다).<br> 다음 소스 코드를 완성하여 첫 번째 정수와 두 번째 정수 사이의 숫자 중 3으로 끝나지 않는 숫자가 출력되게 만드세요.<br> 정답에 코드를 작성할 때는 while True:에 맞춰서 들여쓰기를 해주세요.<br>

In [42]:
start, stop = map(int, input().split())
 
i = start
 
while True:
  if i % 10 == 3 :
    i += 1             # continue 전에 더해줘야..
    continue

  if i > stop :            #i랑 stop이 같으면 안됨
    break
  print(i, end=' ')
  i += 1

21 33
21 22 24 25 26 27 28 29 30 31 32

# 19 계단식으로 별 출력하기

In [33]:
for i in range(5):          # 5번 반복. 바깥쪽 루프는 세로 방향
    for j in range(5):      # 5번 반복. 안쪽 루프는 가로 방향
        print('j:', j, sep='', end=' ')    # j값 출력. end에 ' '를 지정하여 줄바꿈 대신 한 칸 띄움
    print('i:', i, '\\n', sep='')    # i값 출력, 개행 문자 모양도 출력
                                     # 가로 방향으로 숫자를 모두 출력한 뒤 다음 줄로 넘어감
                                     # (print는 기본적으로 출력 후 다음 줄로 넘어감)

j:0 j:1 j:2 j:3 j:4 i:0\n
j:0 j:1 j:2 j:3 j:4 i:1\n
j:0 j:1 j:2 j:3 j:4 i:2\n
j:0 j:1 j:2 j:3 j:4 i:3\n
j:0 j:1 j:2 j:3 j:4 i:4\n

In [17]:
for i in range(5):          # 5번 반복. 바깥쪽 루프는 세로 방향
    for j in range(5):      # 5번 반복. 안쪽 루프는 가로 방향
        print('j:', j, sep = '', end=' ')    # j값 출력. end에 ' '를 지정하여 줄바꿈 대신 한 칸 띄움
    print('i:', i, '\n')    # i값 출력, 개행 문자 모양도 출력
                                     # 가로 방향으로 숫자를 모두 출력한 뒤 다음 줄로 넘어감
                                     # (print는 기본적으로 출력 후 다음 줄로 넘어감)

j:0 j:1 j:2 j:3 j:4 i: 0

j:0 j:1 j:2 j:3 j:4 i: 1

j:0 j:1 j:2 j:3 j:4 i: 2

j:0 j:1 j:2 j:3 j:4 i: 3

j:0 j:1 j:2 j:3 j:4 i: 4

In [24]:
for i in range(5):            # 5번 반복. 바깥쪽 루프는 세로 방향
    for j in range(5):        # 5번 반복. 안쪽 루프는 가로 방향
        print('*', end='')    # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()    # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
               # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*****
*****
*****
*****
*****

#19.5 연습문제: 역삼각형 모양으로 별 출력하기

###다음 소스 코드를 완성하여 역삼각형 모양으로 별이 출력되게 만드세요.<br>

In [38]:
*****
 ****
  ***
   **
    *


for i in range(5):
    for j in range(5):
      if i <= j :           # 공백이 행에 맞춰서 증가하므로 i를 기준으로..
        print('*', end = '')  
    print()

*****
****
***
**
*

In [5]:
for i in range(5):
    for j in range(5):
      if j < i :           
        print(' ', end = '')  
      else :
        print('*', end = '')
    print()

*****
 ****
  ***
   **
    *

#19.6 심사문제: 산 모양으로 별 출력하기

### 표준 입력으로 삼각형의 높이가 입력됩니다. <br>입력된 높이만큼 산 모양으로 별을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br> 이때 출력 결과는 예제와 정확히 일치해야 합니다.<br> 모양이 같더라도 공백이나 빈 줄이 더 들어가면 틀린 것으로 처리됩니다.<br>![스크린샷 2021-08-09 오후 11.49.26.png]()

In [35]:
h = int(input())

for i in range(h) :
  for k in range(2*h-1) :                  #한번에 처리하기 곤란, 절반으로 나눠야해
    print('*', end = ' ')
  print()

3
* * * * *
* * * * *
* * * * *

In [56]:
height = int(input())
for i in range(height):
    for j in range(height):
      if j > i:
        print(' ', end='')
      else :
        print('*', e

5
*    **   ***  **** *****

In [43]:
h = int(input())
for i in range(h):
  print(''*(h-i), '*'*(2))

3

In [45]:
num = int(input())
for i in range(num):
    print(' '*(4-i), '*'*(2*i+1), sep = '')

3
    *
   ***
  *****

In [61]:
height = int(input())
                                           # 아 모르겠다 나중에 다시 보자....
for i in range(height):
    for j in reversed(range(height)):
        if j > i:
            print(' ', end='')
        else:
            print('*', end='')
    for j in range(height):              
        if j < i:
            print('*', end='')
    print()

5
    *
   ***
  *****
 *******
*********