#8.4 연습문제: 합격 여부 출력하기
###국어, 영어, 수학, 과학 점수가 있을 때 한 과목이라도 50점 미만이면 불합격이라고 정했습니다.<br> 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요.<br>

In [8]:
korean = 92
english = 47
mathematics = 86
science = 81
#실행결과 False

print(korean >= 50 and english >= 50 and mathematics >= 50 and science >= 50)

False

#8.5 심사문제: 합격 여부 출력하기

###표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다.<br> 국어는 90점 이상, 영어는 80점 초과, 수학은 85점 초과, 과학은 80점 이상일 때 합격이라고 정했습니다(한 과목이라도 조건에 만족하지 않으면 불합격).<br> 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br>

In [11]:
# ex) 90 81 86 80

국어, 영어, 수학, 과학 = map(int, input().split())
print(국어>=90 and 영어>80 and 수학>85 and 과학>=80)

90 81 86 80
True

In [9]:
90 81 86 80# ex) 90 80 85 80

국어, 영어, 수학, 과학 = map(int, input().split())
print(국어>=90 and 영어>80 and 수학>85 and 과학>=80)

90 80 85 80
False

In [60]:
(3)

3

In [61]:
(3,)

(3,)

In [62]:
3,

(3,)

#10.2 리스트(튜플) 패킹, 언패킹

In [63]:
a = [1, 2, 3]    # 리스트 패킹
b = (1, 2, 3)    # 튜플 패킹
c = 1, 2, 3      # 튜플 패킹

In [65]:
x = [1, 2, 3]     #리스트 패킹
a, b, c = x       #리스트 언패킹 
print(a, b, c)


y = (4, 5, 6)     #튜플 패킹
d, e, f = y       #튜플 언패킹
print(d, e, f)

1 2 3
4 5 6

In [73]:
input().split()    # 리스트 반환

10 20

['10', '20']

In [76]:
x = input().split()
x

10 20

['10', '20']

In [77]:
a,b = x
print(a, b)      # a, b = input().split() 같음

10 20

#10.4 연습문제: range로 리스트 만들기

###다음 소스 코드를 완성하여 리스트 [5, 3, 1, -1, -3, -5, -7, -9]가 출력되게 만드세요.<br> 리스트를 만들 때는 range를 사용해야 합니다.<br>


-           range            
 
- print(a)

In [79]:
a = list(range(5,-10,-2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

#10.5 심사문제: range로 튜플 만들기

###표준 입력으로 정수가 입력됩니다.<br> range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br>

In [83]:
number = int(input())
a = tuple(range(-10, 10, number ))
print(a)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [84]:
number = int(input())
a = tuple(range(-10, 10, number ))
print(a)

3
(-10, -7, -4, -1, 2, 5, 8)

#11.6 연습문제: 최근 3년간 인구 출력하기

###리스트 year에 연도, population에 서울시 인구수가 저장되어 있습니다.<br> 다음 소스 코드를 완성하여 최근 3년간 연도와 인구수가 리스트로 출력되게 만드세요.<br>

In [7]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

#11.7 연습문제: 인덱스가 홀수인 요소 출력하기

###다음 소스 코드를 완성하여 튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.<br>

In [8]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
 
print(n[1::2])

(75, -10, 32, -15, 76, 2)

#11.8 심사문제: 리스트의 마지막 부분 삭제하기

###표준 입력으로 숫자 또는 문자열 여러 개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음).<br> 다음 소스 코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.<br>

In [12]:
x = input().split()

del x[-5:]
print(tuple(x))

1 2 3 4 5 6 7 8 9 10
('1', '2', '3', '4', '5')

In [13]:
x = input().split()

del x[-5:]
print(tuple(x))

oven bat pony total leak wreck curl crop space navy loss knee
('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')

#11.9 심사문제: 문자열에서 인덱스가 홀수인 문자와 짝수인 문자 연결하기

###표준 입력으로 문자열 두 개가 각 줄에 입력됩니다(문자열의 길이는 정해져 있지 않음).<br>첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br> 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.<br>

In [16]:
a = input()
b = input()
print(a[1::2], b[::2], sep='')

python
python
yhnpto

In [17]:
a = input()
b = input()
print(a[1::2], b[::2], sep='')

apple
strawberry
plsrwer

#12.4 연습문제: 딕셔너리에 게임 캐릭터 능력치 저장하기

###다음 소스 코드를 완성하여 게임 캐릭터의 체력(health)과 이동 속도(movement speed)가 출력되게 만드세요.

In [20]:
camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340
}
 
print(camille['health'])
print(camille['movement_speed'])

575.6
340

#12.5 심사문제: 딕셔너리에 게임 캐릭터 능력치 저장하기

### 표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다.<br> 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요.<br> input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.<br>

In [28]:
key = input().split()
value = map(float, input().split())
d = dict(zip((key), (value)))
print(d)

health health_regen mana mana_regen
575.6 1.7 338.8 1.63
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

In [31]:
key = input().split()
value = map(float, input().split()) #실수니까 float!!!
d = dict(zip((key), (value)))      #key값에 리스트 사용금지 *딕셔너리도..
print(d)

health mana melee attack_speed magic_resistance
573.6 308.8 600 0.625 35.7
{'health': 573.6, 'mana': 308.8, 'melee': 600.0, 'attack_speed': 0.625, 'magic_resistance': 35.7}